@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <script src="~/js/site.js"></script>
</head>

<body>
    <h1 id="OverallWinner">Game Over!<h1/>

    <a asp-area="" asp-controller="Home" asp-action="Game">
        <button>Rematch</button>
    </a>
</body>