@{
    ViewData["Title"] = "Home Page";
}

<head>
    <script src="~/js/MainMenu.js"></script>
</head>

<body>
    <h1>RPS</h1>

    <a asp-area="" asp-controller="Home" asp-action="Game"/>
        <button>Play</button>
    </a>
</body>
